@font-face {
    font-family:After;
    src: url(fonts/Afterglow-Regular.ttf);
}
@font-face {
    font-family:Bl;
    src: url(fonts/Blooming\ Elegant\ Sans.otf);
}
@font-face {
    font-family:Min;
    src: url(fonts/Minion\ Pro\ Medium\ Cond\ Caption.otf);
}
@font-face {
    font-family:Product;
    src: url(fonts/Product\ Sans\ Regular.ttf);
}

